.description {
  background-color: $third-color;
  color: white;
  z-index: -3;
}

h2 {
  text-align: center;
}

h2 span {
  text-transform: uppercase;
  color: $primary-color;
}

.banner {
  background-color: $third-color;
  position: relative;
  padding: 50px 0;
  margin-bottom: 50px;

  img {
    position: absolute;
    height: 448px;
    right: 45px;
    top: -74px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
